@import "pure";

body {
}

.logo {
  text-align: center;
  height: 300px;
}
  .logo--label {
    font-size: 18px;
    font-weight: 300;
    font-family: "Helvetica Neue";
  }
  .logo a {
    color: black;
    text-decoration: none;
  }

.shinchoku-image--container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  text-align: center; // To centering the image.
  img {
    max-height: 500px;
    max-width: 100%;
  }
}
  .shinchoku-image--share-container {
    margin-top: 12px;
    text-align: center;
  }
    .shinchoku-image--or-label {
      padding-left: 8px;
      padding-right: 8px;
      font-size: 12px;
      color: #666;
    }

    .shinchoku-image--textfield {
      width: 200px;
      color: #666;
      padding-left: 8px;
      border: 1px solid #ccc;
      border-radius: 6px;
      height: 26px;
      font-size: 12px;
    }

.pager {
  text-align: center;
}
  .pager a{
    color: blue;
    text-decoration: none;
  }

  .pager--previous,
  .pager--next{
    font-size: 78px;
    font-family: "HelveticaNeue-UltraLight";
  }

  .pager--next {
    padding-left: 120px;
  }

  .pager .pager--next__disabled a,
  .pager .pager--previous__disabled a{
    color: #ccc;
  }

footer{
  text-align: center;
  font-size: 14px;
  color: #333;
  opacity: 0.5;
  a {
    color: inherit;
    text-decoration: none;
  }
  margin-top: 90px;
  margin-bottom: 90px;
}

// UTILITIES

.u-vcenter--outer {
  display: table;
  text-align: center;
  width: 100%;
}
.u-vcenter--inner {
  display: table-cell;
  vertical-align: middle;
}